affine==2.3.0
attrs==19.3.0
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.1
Fiona==1.8.13
GDAL==3.0.2
imageio==2.6.1
jsonlines==1.2.0
kiwisolver==1.1.0
matplotlib==3.1.1
munch==2.5.0
networkx==2.4
numpy==1.17.3
opencv-python==4.1.2
Pillow==6.2.1
pyparsing==2.4.2
python-dateutil==2.8.0
PyWavelets==1.1.1
rasterio==1.1.2
scikit-image==0.16.2
scipy==1.3.1
Shapely==1.6.4.post2
six==1.12.0
snuggs==1.4.7
